{
  "presets": [
    [
      "@babel/preset-env",
      {
        "forceAllTransforms": true,
        "modules": false,
        "useBuiltIns": false,
        "loose": true
      }
    ],
    "@babel/preset-react"
  ]
}